<section class="shop-item">
	<div class="image-container">
		<img class="shop-item-image" src="{{url}}"/>
	</div>
	<div class="item-info">
		<div class="item-info-sameline">
			<p class="item-caption">
				<a href="#">{{caption}}</a>
			</p>
		</div>
		<div class="item-info-sameline">
			<p class="item-price">{{price}}</p>
			<p class="like-number">{{likes}}</p>
			<i class="fa fa-heart like-button-heart"></i>
		</div>
		<div class="item-info-sameline">
			<button type="button" class="item-addtocart-button">Add to cart</button>
			<button type="button" class="item-like-button">Like</button>
		</div>
	</div>	
</section>